{% if page.lang == 'en' %}
  {% assign source = en_content %}
{% elsif page.lang == 'ja' %}
  {% assign source = ja_content %}
{% endif %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <div class="navbar-nav ms-auto">
        <ul class="navbar-nav text-end">
          <li class="nav-item px-lg-2">
            <a class="nav-link" href="{{ '/' | htmlBaseUrl: page.lang  }}">{{ source.nav.navIndex }}</a>
          </li>
          {% comment %} <li class="nav-item dropdown px-lg-2">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown">Schedule</a>
            <ul class="dropdown-menu dropdown-menu-end text-end">
              <li>
                <a class="nav-link" href="{{ '/schedule-day-1/' | htmlBaseUrl: page.lang  }}">Day 1</a>
              </li>
              <li>
                <a class="nav-link" href="{{ '/schedule-day-2/' | htmlBaseUrl: page.lang }}">Day 2</a>
              </li>
              <li>
                <a class="nav-link" href="{{ '/schedule-day-3/' | htmlBaseUrl: page.lang }}">Day 3</a>
              </li>
            </ul>
          </li> {% endcomment %}
          <li class="nav-item px-lg-2">
            <a class="nav-link" href="{{ '/resources/' | htmlBaseUrl: page.lang  }}">Resources</a>
          </li>
          <li class="nav-item dropdown px-lg-2">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown">About</a>
            <div class="dropdown-menu dropdown-menu-end text-end">
                <a class="dropdown-item" href="{{ '/team/' | htmlBaseUrl: page.lang }}">
                  Meet the Team
                </a>
                {% comment %} <a class="dropdown-item" href="{{ '/guests/' | htmlBaseUrl: page.lang }}">
                  Meet the Guests
                </a> {% endcomment %}
                <a class="dropdown-item" href="{{ '/history/' | htmlBaseUrl: page.lang }}">
                  Our History
                </a>
              </div>
          </li>
          {% comment %} <li class="nav-item px-lg-2">
            <div class="dropdown">
              <a
                class="btn btn-secondary dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Language
              </a>

              <ul class="dropdown-menu dropdown-menu-end text-end">

                {% assign links = page.url | locale_links %}
                {%- for link in links %}
                  <li>
                    <a
                      class="dropdown-item"
                      href="{{ link.url }}"
                      lang="{{ link.lang }}"
                      hreflang="{{ link.lang }}">{{ link.label }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </li> {% endcomment %}
        </ul>
      </div>
    </div>
  </div>
</nav>